!!! 5
%html
  %head
    %meta{ :charset => "UTF-8" }
    %title
      = "#{ENV["EMAIL_DOMAIN"]} | ZList"
      = yield :title
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
  
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          .brand
            = link_to("ZList - #{ENV["EMAIL_DOMAIN"]}", root_path, :class => "brand")
          .nav-collapse.collapse
            %ul.nav
              %li{class: @current_tab == "Lists" ? "active" : nil}
                = link_to "Lists", lists_path
              %li{class: @current_tab == "Subscribers" ? "active" : nil}
                = link_to "Subscribers", subscribers_path
              - if Server.postmark?
                %li{class: @current_tab == "Servers" ? "active" : nil}
                  = link_to "Servers", servers_path
            .navbar-form.pull-right
              .span2.text-right
                = link_to current_user.name, edit_subscriber_path(current_user)
              .span2
                = link_to "Logout", logout_path
        
    .container#main

      - flash.each do |name, msg|
        = content_tag :div, msg, id: "flash_#{name}", class: "alert-message #{name}"

      %div{style: "float:right"}
        = yield :top_right

      - if content_for(:title).present? && !@hide_title
        %h1= yield :title
      = yield

      .footer
        %ul.unstyled
          %li
            &copy;
            = Date.today.year
            JK Tech
